<div class="col-xs-3">
  <div class="well" id="wellheight">
    <ul class="list-unstyled">
      {{#link-to 'product' product.id}}
      <h5>{{product.brand}}</h5>
      <p>{{product.title}}</p>
      <img src={{product.image}}>
      {{/link-to}}
      <br><br>
    </ul>
  </div>
</div>
