<img src="../img/menu.png" {{action 'openNav'}}>
<div class="nav-cart">
  {{#link-to 'my-cart'}}
    <img src="../img/shopping-cart-of-checkered-design.png">
  {{/link-to}}
</div>


<hr>
<div id="mySidenav" class="sidenav">
  <div class="top-nav">
    <a class="nav" href="javascript:void(0)" class="closebtn" {{action 'closeNav'}}>&times;</a>
    <br>
    {{#link-to 'index'}}HOME{{/link-to}}<br>
    {{#link-to 'lighting'}}LAMPS/LIGHTING{{/link-to}}<br>
    <hr>
    {{#link-to 'about'}}ABOUT{{/link-to}}<br>
    {{#link-to 'contact'}}CONTACT{{/link-to}}<br>
    {{#link-to 'admin'}}ADMIN{{/link-to}}<br>
    <!-- <a class="nav" href="my-cart">CART</a><br> -->
  </div>
</div>
