li {
  list-style: none;
  padding: 0;
}

button {
  margin-top: 6px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Lato', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  margin-top: 10px;
}

a {
  color: #3d3d3d;
  font-family: 'Lato', sans-serif;
}

.sidenav a:hover {
  text-decoration: underline;
}

.nav {
  font-size: 2em;
}

.nav-cart {
  float: right;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Lato', sans-serif;
}

.sidenav a:hover {
  color: white;
  text-decoration: none;
}

.jumbotron {
  background-color: rgba(61, 61, 61, 0.0);
  color: black;
  margin-top: 40px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background: linear-gradient(#B6FE26,#D4FF7F,#E5FFB1,#FDFFF9);*/
    background: linear-gradient(#D4FF7F,#85BAFF);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: yellow;
}

.well  {
  max-height: 375px;
  /*background-color: #3d3d3d;*/
  background-color: white;
  border-color: #D4FF7F;
  padding-bottom: 20px;
}

.addProduct {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.update-form {
  margin-top: 60px;
  background-color: #d4ff7f;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 35px;
}

.feedback-form {
  margin-top: 60px;
  background-color: #d4ff7f;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 35px;
  text-align: center;
}
