<div class="container">
  <div class="jumbotron">
    <h1 id="title">gizmo</h1>
  </div>
  <!-- <div class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="nav-link">
      {{#link-to 'my-cart'}}Shopping Cart{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'admin'}}Admin{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'about'}}About{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'contact'}}Contact{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
  </div>
  <span onclick="openNav()">open</span> -->
  {{nav-bar}}
  <div class="container">
    {{outlet}}
  </div>
</div>
